version: '3'

services:
  dns:
    image: lancachenet/lancache-dns
    restart: unless-stopped

    env_file: .env

    ports:
      - 53:53/udp
      - 53:53/tcp

  monolithic:
    image: lancachenet/monolithic
    restart: unless-stopped
    
    volumes:
      - cache:/data/cache
      - logs:/data/logs

    env_file: .env

    ports:
      - 80:80/tcp
      - 443:443/tcp

volumes:
  cache: {}
  logs: {}